NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_xxx
STRIPE_SECRET_KEY=sk_test_xxx
STRIPE_WEBHOOK_SECRET=whsec_xxx
NEXT_PUBLIC_AFFIRM_PUBLIC_API_KEY=affirm_public_xxx
AFFIRM_PRIVATE_API_KEY=affirm_private_xxx
NEXT_PUBLIC_AFFIRM_JS_URL=https://cdn1.affirm.com/js/v2/affirm.js
PRINTFUL_API_KEY=printful_xxx
PRINTIFY_API_KEY=printify_xxx
ARTSADD_API_KEY=artsadd_xxx
ARTSADD_BASE_URL=https://m.artsadd.com
PRINTIFY_SHOP_ID=your_printify_shop_id
