@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #f5f0e6;
  --fg: #000000;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--bg);
  color: var(--fg);
  font-family: Inter, Arial, Helvetica, sans-serif;
}
